* {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #454545;
  color: #0e0;
  
}

ol {
  color: #0c0;
  background-color: #222;
  border-radius:5px;
	box-shadow:0 1px 5px #222 inset,0 1px 0 #666
}

#output {
  color: #3e3;
}

