* {
  font-family: 'Lato', sans-serif;
  color: #aaa;
}

body {
  background-color: #2d2d2d;
  color: #0e0;
}

span {
  padding: 2px 10px;
  border-radius: 2px;
  margin: 4px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background-color: #c4c4c4;
  border: 1px solid #000/*#7a95fe*/;
  display: inline-block;
}

ol {
  width: 33%;
  color: #fff;
  background-color: #222;
  border-radius:5px;
  box-shadow:0 1px 5px #222 inset,0 1px 0 #666;
}

ul:.tags {
  width: 33%;
  color: #fff;
  background-color: #222;
  border-radius:5px;
  box-shadow:0 1px 5px #222 inset,0 1px 0 #666;
}

.tutorial {
  padding: 7px;
}

.outputText:nth-child(odd) {
  background-color: #2d2d2d;
}
.outputText:nth-child(even) {
  background-color: #222;
}

.highlight {
  color: #000;
  background-color: #ddd;
}

#output {
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
  border-radius:5px;
  background-color: #222;
  box-shadow:0 1px 5px #222 inset,0 1px 0 #666;
}

input[type=text] {
    width: 90%;
    padding: 5px 5px;
    margin: 0px 0px 20px 0px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color: #222;
}

input[type=text]:focus {
    border: 3px solid #454545;
}

input[type=button] {
  padding: 2px 10px;
  border-radius: 5px;
  margin: 4px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background-color: #c4c4c4;
  border: 1px solid #000;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

input[value="Submit"] {
  width: auto;
}

input[type=button]:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.7);
}

h1 {
  color: #ccc;
}

h3 {
  color: #aaa;
}
